<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<div>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>lastName</th>

      <th>Update</th>
      <th>Delete</th>
    </tr>
    <tbody>
    <tr th:each="user:${users}">
      <td th:text="${user.getId()}"></td>
      <td th:text="${user.getName()}"></td>
      <td th:text="${user.getLastname()}"></td>

      <td>
        <form th:method="get" th:action="@{/users/{id}/edit(id = ${user.getId()})}">
          <input type="submit" value="Update"/>
        </form>
      </td>
      <td>



        <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">>
          <input type="submit" value="DELETE"/>
        </form>

      </td>
    </table>

  <br/>
  <hr/>
  <a href="/users/new">Create new user</a>
</div>
</body>
</html>